{% extends "base.html" %}

{% block bodyclass %}index{% endblock %}

{% block content %}
<div class="latest-gallery">
    <h3>Latest Gallery &raquo;</h3>

    {% if latest_gallery %}
        <h4><a href="{{ latest_gallery.get_absolute_url }}">{{ latest_gallery.title }}</a></h4>

        {% with latest_gallery.latest|first as p %}
            <p class="preview">
                <a class="preview" href="{{ latest_gallery.get_absolute_url }}">
                    <img src="{{ p.get_preview_url}}?v=1" title="{{ p.title }}"/>
                </a>
            </p>
            <ul class="rest clearfix">
                {% for p in photos|slice:"1:4" %}
                    <li{% if forloop.last %} class="last"{% endif %}>
                        <a href="{{ latest_gallery.get_absolute_url }}">
                            <img src="{{ p.get_thumbnail_url }}" title="{{ p.title }}"/>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endwith %}

        <p class="date">Originally published on {{ latest_gallery.date_added|date:"l, F jS, Y" }}</p>
        <p class="more"><a href="{{ latest_gallery.get_absolute_url }}">see gallery &raquo;</a></p>
    {% else %}
        <p>No galleries were found.</p>
    {% endif %}
</div>
{% endblock %}

